$color1: red;
$color2: blue;
$color3: yellow;
$color4: black;




/* Aufgabenstellung
Schreibe ein Mixin für Breite, Höhe und den Radius. 
Alle Kugeln sollten die gleiche Größe 
und den gleichen Radius haben. 
Schreibe ein Mixin, um die Bälle zu animieren. 
Bitte gib den Bällen die gleiche Animation. 
Gib der Animation einen Namen, 
eine Dauer, ein Timing, eine Funktion, 
und die Anzahl der Iterationen sollte unendlich sein.
Schreibe ein Mixin und übergib ein Argument 
für die Hintergrundfarbe. 
Alle drei Bälle sollten 
einen anderen farbigen Hintergrund haben.

Hinweise
Verwende @keyframes, um die Animation zu erstellen. */
