@import "variables";

.container {
  margin-top: 50px;
  width: 800px;
  height: 200px;
  border-top: 1px solid $color4;
}



.ball1 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: $color1;
    border: 1px solid $color4;
    animation-name: move;
    animation-delay: 0s;
    animation: move 2s ease-in-out infinite;
}

.ball2 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: $color2;
    border: 1px solid $color4;
    animation-name: move;
    animation-delay: .5s;
    animation: move 2s ease-in-out infinite;
}


.ball3 {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: $color3;
    border: 1px solid $color4;
    animation-name: move;
    animation-delay: 1s;
    animation: move 2s ease-in-out infinite;
}


@keyframes move {
    0%  {
    transform: translate(0px); 
}
    50%  {
    transform: translate(750px); 
    }
    100%   {
    transform: translate(0px); 
    }
}
